{{#each activities}}
    <div class="container activities-box">
        <p>{{title}}</p>
        <p>{{description}}</p>
        <p>{{longitude}}</p>
        <p>{{latitude}}</p>
        <p>{{addresss}}</p>
    </div>
{{/each}}